:root {
  /* 主题色 */
  --color-theme: #CB3F2D;
  /* hover */
  --color-theme-hover: #D5614D;
  /* active */
  --color-theme-active: #AB281C;
  /* disabled */
  --color-theme-disabled: #EAA795;

  --header-height: 60px;
  --footer-height: 68px;
}

/* dark */
.dark {
  --color-theme: #D5634F;
  --color-theme-hover: #CB4C3B;
  --color-theme-active: #E08773;
  --color-theme-disabled: #8C1912;
}
